body {
    width: 100%;
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', arial;
}
.container {
    display: flex;
    flex-direction: column;
}
.header{
    background-color: #b0b6a7;
}
.navbar{
    display:flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    align-items: center;
}
.logo{
    margin-right:auto;
}
.logo img{
    padding-left: 30px;
}
.link{
    margin-left: auto;
}
.link a {
    text-decoration: none;
    color: #624b07;
    font-size: 27px;
    padding: 10px;
    font-family: monospace;
    gap: 30px;
    font-weight: 600;

}
.movies{
    display: flex;
    padding: 20px 20px 20px 20px;
    align-items: center;
    background-color: #81c7c8;
    color: #0c0c0b;
    
    
}
.movies h1{
    font-family: monospace;
    font-weight: 500px;
    letter-spacing: 0.7rem;
}
.btn{
    color:rgb(8, 8, 7);
    padding:15px;
    display: block;
    text-decoration: none;
    font-size: 20px;
    border: 5px;
    outline: 0;
    background-color: #d8e8ab;
    border-radius: 12px;
    font-family: monospace;
}
.movies p{
    font-size: 20px;
    opacity: 0.7;
    font-family: monospace;
}

.img{
    justify-content: center;
    padding: 90px;
    opacity: 0.7;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}
.favmovies
{
    display: flex;
    /* border: 1px solid gold; */
    justify-content: center;
    flex-wrap: wrap;
    gap:115px;
    padding: 70px;
}
.favmovies img{
    border: 5px solid black;
    border-radius: 12px;
}
.favourite{
    display: flex;
    flex-direction: column;
    background-color: #aaa78f;
    text-align: center;
    justify-content: center;
}
.favourite h1{
    font-family: monospace;
    text-shadow: #707f93;
    opacity: 0.8;
    padding-top:70px;
    letter-spacing: 0.7rem;
}
.title{
    padding-bottom: 20px;
    font-family: monospace;
    font-size: 20px;

}
.img img{
    border: 5px solid black;
    border-radius: 8px;
}
.visit{
    display: flex;
    justify-content: center;
}

.quote{
    display: flex;
    padding: 100px;
    align-items: center;
    background-color: rgb(209, 185, 154);
    color: #1b1b1a;
    font-family: monospace;
    justify-content: center;
    align-items: center;
    gap:70px;

}
.chihiro{
    display: flex;
    padding: 30px;
    background-color: darkgoldenrod;
    border-radius: 20px;
    box-shadow: black;
    gap:70px;

}
.quote p {
    font-size: 25px;
    color: #1F2937;
    margin-top: 60px;
    padding-left: 50px;
}
.quote img{
    border: 5px solid black;
    border-radius: 12px;
    margin-right: 70px;
}

.quote b {
    padding-bottom: 20px;
    padding-right: 10px;
    text-align: right;
    opacity: 0.7;
}
.footer {
    background-color: #1F2937;
    color: #fff;
    font-family: 'Roboto', arial;
}
.sign-up {
    background-color: #1950a840 ;
    margin: 0px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border-color: none;
    justify-content: center;
    gap:50px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 70px;
    padding-right: 70px;
}
.sign-text{
    color: rgb(2, 90, 90);
    font-size: 15px;
    font-family:monospace;
    
}

footer{
    background-color: #1b1b1a;
    display: flex;
    justify-content: center;
    font-size: 12px;
    align-items: center;
    font-family: monospace;
    color: white;
}
